<% provide(:title, 'Главная') %>
	<h1>Микроблог КубГУ</h1>
	<p>
  Ты всегда будешь в курсе! Зарегистрируйся и получай самые свежие новости от преподавателей, деканата, кафедр и администрации 
  <a href="http://kubsu.ru/">Кубанского государственного университета</a>. Твой Микроблог КубГУ.
	</p>