<div class='center hero-unit'>
	<h1>Микроблог КубГУ</h1>
	<h2>
  Ты всегда будешь в курсе! Зарегистрируйся и получай самые свежие новости от преподавателей, деканата, кафедр и администрации 
  <a href="http://kubsu.ru/">Кубанского государственного университета</a>.
	</h2>
	<%= link_to "Зарегистрироваться", signup_path, class: "btn btn-large btn-primary" %>
</div>